/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

 body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.spacer {
  flex: 1;
}

.browser-style-container {
  text-align: center;
}

.panel-section-header {
  width: max-content !important;
}

.clickable {
  cursor: pointer;
}

.hide {
  display: none !important;
}

#doNotAskContainer {
  margin-top: 1em;
  padding-bottom: 1.15rem;
}

#loading {
  margin: auto;
}

#loading > div {
  border: 0.75em solid transparent;
  border-color: transparent var(--primary-color-1);
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

