/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

/* Font declaration */
* {
	font-family: sans-serif;
}

/* Options section */
fieldset {
	border: 2px solid #47AAD5;
	border-radius: 5px;
}

/* Options section title */
legend {
	padding:5px 10px;
	font-size:14pt;
	border:none;
	margin: 0px 0px 5px 0px;
	border-radius: 10px;
	font-size: 20px;
	color: #FFF;
	text-decoration: none;
	transition: all 0.1s;
	box-sizing:border-box;
	background-color: #47AAD5;
	border-bottom: 5px solid #0085A6;
	text-shadow: 0px -2px #0085A6;
}

/* Help link */
a {
	cursor:help;
}